

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
   background-image: url("../img/bg.jpg");
   /* background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
   url('../img/bg.jpg'); */
   background-size: cover;
   background-position: center;
   height:100vh;
   background:#EBF3FC;
}
h1{
  font-size: 2.2rem;
  color:#39277C;
}
.numberandoperator{
   display: flex;
   margin-left:-25px;
   align-items: center;
}
.numberandoperator h2{
   margin-right:5px;
}
.underline{
   border-bottom: 2px solid #39277C;
   width:70%;
   margin-bottom:20px;
}
.our-field {
   width:70%
}

.button{
   background: #F39846;
   color:white;
   padding: 10px 30px;
   border-radius: 30px;
   border:none;
   width:70%;
   font-weight:600;
}
.button--withoutWidth{
   width:auto;
   
}

.t-card{
   
}














