

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
   /* background-image: url("../img/bg.jpg");
   background-size: cover;
   background-position: center; */
   height:100vh;
   

}
.numberandoperator{
   display: flex;
   margin-left:-25px;
   align-items: center;
}
.numberandoperator h2{
   margin-right:5px;
}
.underline{
   border-bottom: 2px solid #999;
   width:70%;
   margin-bottom:20px;
}
.our-field {
   width:70%
}

.button{
   background: pink;
   padding: 10px 30px;
   border-radius: 30px;
   border:none;
   /* width:70%; */
   font-weight:600;
}
.button--withoutWidth{
   width:auto;
   
}

.t-card{
   /* background: pink;
   padding: 40px;
   width:70%;
   border-radius:30px; */
}














